{%extends "layout.html" %} 
{% block content %} 
    {%import "_macros.html" as macros%}
    <form action="/distancia" method="post">

    {{macros.datos("x1", "Ingresa la primera coordenada de x", "number")}}
    {{macros.datos("x2", "Ingresa la segunda coordenada de x", "number")}}
    {{macros.datos("y1", "Ingresa la primera coordenada de y", "number")}}
    {{macros.datos("y2", "Ingresa la segunda coordenada de y", "number")}}

    <button type="submit" class="btn btn-primary">Calcular</button>

    <h3>distancia: {{resultado}}</h3>
    </form>
{%endblock%}
