{%extends "layout.html" %} 
{% block content %} 
    {%import "_macros.html" as macros%}
    <form action="/usuarios" method="post" novalidate>

        {{form.csrf_token}}
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="mb-3">
            {{macros.campoNuevo(form.matricula, class="form-control")}}
            {{macros.campoNuevo(form.nombre, class="form-control")}}
            {{macros.campoNuevo(form.apellidoPaterno, class="form-control")}}
            {{macros.campoNuevo(form.apellidoMaterno, class="form-control")}}
            {{macros.campoNuevo(form.correo, class="form-control")}}
        </div>
        

        <button type="submit" class="btn btn-primary">Calcular</button>
    </form>

    <h1>Matricula: {{matricula}}</h1>
    <h1>Nombre: {{nombre}}</h1>
    <h1>Apellido paterno: {{apellidoPaterno}}</h1>
    <h1>Apellido materno: {{apellidoMaterno}}</h1>
    <h1>Correo: {{correo}}</h1>

{%endblock%}
